
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline:0;
    appearance:none;
    border:0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}


.container{
    max-width:90%;
    margin-inline: auto;
    padding-inline: 20px;
    } 


    h1{
        font-size:4rem;
    }

    h4{
        font-size:1rem;
        font-weight:400;
        letter-spacing:2px;
    }

    h2{
        font-size:2rem;
    }

    .popup {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        z-index: 1;
      }





.navlogo{
    background-color:#E51E28;
    height:2.5vw;
    width:2.5vw;
    border-radius:50px;
    justify-content: center;
    align-items:center;
    margin:10px;
    cursor: pointer;
    position: relative; 
}

.navlogo i{
    font-size:20px;
    color: white;
    
}

.navlogos{
    gap:1vw;
}

.navlinks{
    gap:2vw;
}

.red_color{
    color:#E51E28 ;
}

.flex{
    display: flex;
}

.second_head{
    justify-content: center;
    padding: 2vw;
}


.navbar{
    justify-content: space-between;
    align-items: center;
}

.navlinks a:hover{
    color: #E51E28;
}



.hero{
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height:45vw;
    padding:2.5vw 0vw;
}

.hero1{
    background-image:url(./images/main.png);
    background-size:cover;
}

.heading-section{
    width: 100%;
}


.heading-section h1{
    color: white;
    padding-top:1vw;
    letter-spacing:5px;
}




.data1{
 flex-direction: column;
 gap:.5vw;
  padding:1.5vw;
 
    border-left:.6vw solid #E51E28;
    border-bottom: 1px solid rgba(0, 0, 0,0.2);
    border-right: 1px solid rgba(0, 0, 0,0.2);
    border-top: 1px solid rgba(0, 0, 0,0.2);
    backdrop-filter: blur(4px); 
    color:white; 
    transition:500ms ease-in-out;
  
}


.data1:hover{
    border: 1px solid #E51E28;
    border-left:.6vw solid #E51E28;
}


.oneproducts:hover{
    border: 1px solid #E51E28;
}

.data1 h3{
    font-weight:600; 
    color: #E51E28;
    letter-spacing:2px;
}

.location{
    color: #E51E28;
    font-weight:700;
}




.address{
    gap: 2vw;
    align-items: center;
    justify-content: center;
}






.aboutimage img{
    width:20vw;
 
}

.aboutimage{
    justify-content: center;
}

.para h4{
    text-align: center;
    line-height:40px;
}



/* Product */

.oneproducts{
    width:16vw;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    object-fit: cover;
    overflow: hidden;
    border: 1px solid #ffffff;
}

.products{
    justify-content: space-between;
}

.products2{
    margin-top:2vw;
}

.oneproducts img{
    width:16vw; 
}



/*End Product */




.partner{
    flex-direction: column;
    justify-content: space-between;
    
    background-image: url(./images/main2.png);
    border-radius:2vw;
    height:25vw;
    padding:3vw;

    margin-top:3vw;
}

.logo_div{
  background-color:white;

  border-radius:.5vw;
}





.first{
    justify-content: space-between;
    align-items: center;
}

.first h2{
    color: white;
    font-weight:400;
}

.first2{
    gap: 2vw;
  
}


.footer {
    justify-content: space-between;
    align-items: center;
    height:15vw;
}


.res{
    background-image: url(./images/pro.png);
    border-radius:2vw;
    height:18vw;
    background-size: cover;
    margin-top:3vw;
    justify-content: space-between;
    align-items: center;
    padding:2vw;
}

.res-head h2{
    color: white;
    letter-spacing:2px;
}

.res_right{
    width: 30vw;
}


.res_right2{
    color: white;
    align-items: center;
    gap:1vw;
    padding-top:2vw;
}

.res_right1{

    color: white;
    align-items: center;
    gap:1vw;
    
}

.res_right1 h3{
    font-weight: 300;
    letter-spacing:2px;
}

.res_right2 h3{
    font-weight: 300;
    letter-spacing:2px;
}

.gmail{
    margin-top:1vw;
    gap: 1vw;
    align-items: center;
}

.gmail i{
    color: #E51E28;
}

.right_section{
    width: 20vw;
}

.footer1{
    background-image: url(./images/last.png);
    margin-top: 3vw;
    padding-bottom:3vw;
    background-size: cover;
}
.data1 h4{
    font-weight:200; 
    color:black;
}

